<br>
<h1 style="text-align: center;">Container Status</h1>
<br>
<div class="section-content section-content-p30">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <table class="table table-sm" id="ctnStatus">
                <thead>
                  <tr class="table-active">
                    <th scope="col">SR</th>
                    <th scope="col">Container</th>
                    <th scope="col">Max Capacity</th>
                    <th scope="col">Available</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Tea</td>
                    <td>{{maxCtn.teaContainer}} (kg)</td>
                    <td>{{availableCtn.teaContainer}} (kg)</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Coffee</td>
                    <td>{{maxCtn.coffeeContainer}} (kg)</td>
                    <td>{{availableCtn.coffeeContainer}} (kg)</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Water</td>
                    <td>{{maxCtn.waterContainer}} (liters)</td>
                    <td>{{availableCtn.waterContainer}} (liters)</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Sugar</td>
                    <td>{{maxCtn.sugarContainer}} (kg)</td>
                    <td>{{availableCtn.sugarContainer}} (kg)</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Milk</td>
                    <td>{{maxCtn.milkContainer}} (liters)</td>
                    <td>{{availableCtn.milkContainer}} (liters)</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>