<body>
    <br>
    <h1 style="text-align: center;">Refilling Counter Details</h1>
    <br>
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <table class="table table-sm">
                        <thead>
                        <tr class="table-active">
                            <th scope="col">Container</th>
                            <th scope="col">Today</th>
                            <th scope="col">All days</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Tea</th>
                            <td>{{todayRf.teaRefill}}</td>
                            <td>{{allRf.teaRefill}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Coffe</th>
                            <td>{{todayRf.coffeeRefill}}</td>
                            <td>{{allRf.coffeeRefill}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sugar</th>
                            <td>{{todayRf.sugarRefill}}</td>
                            <td>{{allRf.sugarRefill}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Water</th>
                            <td>{{todayRf.waterRefill}}</td>
                            <td>{{allRf.waterRefill}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Milk</th>
                            <td>{{todayRf.milkRefill}}</td>
                            <td>{{allRf.milkRefill}}</td>
                        </tr>
                        </tbody>
                    </table>
                <br>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</body>