<!-- <p>choose drink works!</p> -->

<body>
  <br>
  <h1 style="text-align: center;">Choose Drink</h1>
  <br>
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <table class="table table-sm">
            <tbody>
              <tr *ngFor="let dr of drinkList">
                  <th scope="row" name="drink" id="drink">
                    <label #drinkId id="id" name="id">{{dr.id}}</label>
                  </th>
                  <td><h6>{{dr.name}}</h6></td>
                  <td><input name="numberOfCup" id="numberOfCup" type="number" value=0 [(ngModel)]="numberOfCup" placeholder="0" max="10" min="0"/> Cup
                  </td>
                  <td> Rs. {{dr.cost}}/Cup</td>
                  <td><button (click)="addSaleList(dr)" class="btn btn-primary btn-sm">Get Drink</button></td>
              </tr>
            </tbody>
          </table>
          <br>
          <span readonly class="form-control-plaintext">{{msg}}</span>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</body>